* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

body {
    height: 100vh;
    background: url('../img/desktop.jpg');
    background-size: cover;
    font-size: 90px;
}

.container-fluid {
    margin: 10px;
}

.col-md-4 {
    float: right;
}

.results {
    margin-top: 15px;
}

.uppper {
    margin-top: 90px;
}

.info {
    float: left;
    font-size: 16px;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-primary {
    color: blue;
    background-color: transparent;
    background-image: none;
    border-color: blue;
}

.btn-outline-success:hover {
    background-color: #28a745;
    border-color: #fff;
    color: #fff;
}

.pic {
    float: right;
}

.fot {
    margin-top: 40px;
}

img {
    float: right;
}

.temp {
    margin-top: 45px;
    font-size: 100px;
}
.temp-col {
    margin-left: 20px;
}

.wi {
    float: right;
    margin-top: 23px;
}
.text-success {
    color: #fcf710;
}

.text-error {
    color: #c40707;
}

.slide {
    position: relative;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
  }
  .slide.ng-enter,
  .slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .slide.ng-enter {
    left: 100%;
  }
  .slide.ng-enter-active {
    left: 0;
  }
  .slide.ng-leave {
    left: 0;
  }
  .slide.ng-leave-active {
    left: -100%;
  }

  .spinner-pane {
    position: fixed;
    width: 100%;
    height: calc(100% + 20px);
    top: -20px;
    z-index: 10000000;
    background-color: rgba(255, 255, 255, 0.78);
  }
  .spinner-text {
    position: fixed;
    top: 50%;
    font-size: large;
    left: calc( 50% + 30px );
  }
  