<div class="container-fluid">
    <div class="row">
        <div ng-show="showResult" class="col-md-4 info">
            <label class="control-label">Pogoda teraz: {{name}}, {{country}}, {{time}}</label>
        </div>
        <div class="col-md-4">
            <form ng-submit="">
                <div class="input-group ">
                    <input class="form-control input-sm" type="text" placeholder="Wpisz miejscowość" ng-model="city" auto-focus> 
                    <span class="input-group-btn">
                        <button type="button" ng-click="search(city)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /col-md-4 -->
    </div>
    <div ng-show="showResult" class="row text-center results uppper">
        <h2 class="text-success">Gratulacje, udało się wyszukać podaną miejscowość!</h2>
    </div>
    <div ng-show="showResult" class="row text-center results">
        <div class="col-md-12">
            <div class="col-md-1 pic"></div>
            <div class="col-md-5 pic">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Wiatr: {{wind}} km/h</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Ciśnienie: {{pressure}} hPa</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Zachmurzenie: {{cloud}}%</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2 tem-col pic">
                <h1 class="temp">{{temp}}°C</h1>
            </div>
            <div class="col-md-1 pic"></div>
            <div class="col-md-3 pic fot">
                <i class="wi"></i>
            </div>
        </div>
    </div>
</div>